<div class="container"> 
  <br>
  <%if (session[:orgid]).nil?%>
    <%=link_to '', new_practice_path, class:'pull-left glyphicon glyphicon-chevron-left'%>
  <%else%>
    <%=link_to '', practice_path(session[:orgid]), class:'pull-left glyphicon glyphicon-chevron-left'%>
  <%end%>
  <%=link_to '', sub_merchant_new_path, class:'pull-right glyphicon glyphicon-chevron-right'%><br>
  
  <h1>New doctor_profile</h1> 
  <%= render 'form' %>
</div>


