<div class="container"> 
  <br><%=link_to '', new_doctor_profile_path, class:'pull-right glyphicon glyphicon-chevron-right'%><br>
  <h1>Update Practice Information</h1>
    <%= render 'form' %>
</div>